syntax: glob

Binaries/**
Source/*.err
Source/*.obj
Source/build/**
Source/disassembly/**
Source/dist/**
Source/funclist
Source/nbproject/private/**
Source/nbproject/Makefile-genesis.properties
Source/nbproject/Makefile-*.mk
Source/nbproject/Package-*.bash

Research/
